html {
  scroll-behavior: smooth;
}

.text-block {
  margin-right: 80px;
}

/* Base */
* { box-sizing: border-box; }

/* Wrapper */
.wrapper {
  width: 90%;
    max-width: 900px;
    margin-top: 3em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Badge */
.badge {
    margin: 1.5em 3em;
    width: 102.4px;
    height: 102.4px;
    border-radius: 20%;
    display: inline-block;
    top: 0;
    transition: all 0.5s ease;
  box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
}

.rounded {
  width: 70px;
    height: 70px;
  background: white;
  position: absolute;
  margin: 13px 12px auto;
  z-index: 10;
  border-radius: 30%!important;
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
}


  
i.fab {
    font-size: 41.6px;
    margin-top: 16px;
}


/* Colors */
.blue {
    background: dodgerblue;
    color: deepskyblue;
}

.orange {
  background: darkorange;
  color: orange;
}

.gold {
  background: gold;
  color: gold;
}

.node {
  background-color: #73ac62;
}

.cpp {
  background: #00448270;
  color: #00448270;
}

.purple {
  background: mediumpurple;
  color: slategray;
}

.mongod {
  background: #4f9545;
  color: #4f9545;
}

.crimson {
  background: crimson;
  color: firebrick;
}

.steel {
  background: steelblue;
  color: gold;
}

.react {
  background: #0a9fbb;
  color: #0a9fbb;
}

.rebecca {
  background: #673ab7;
  color: #673ab7;
}

.gainsboro {
  background: gainsboro;
  color: orangered;
}

.jquery {
  background: #0e6bae;
  color: #0e6bae;
}

.git {
  background: #de4c36;
  color: #de4c36;
}

.keras {
  background: #d10000;
  color: #d10000;
}

.text-block {
	position: absolute;
	top: 22%;
	left: 50%;
	color: white;	
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

hr.hr-text {
	  border: 0;
    height: .8px;
    background-image: linear-gradient(to right, rgba(0,0,0,0),#EA1C2C, yellow, rgba(0,0,0,0));
    opacity: .5;
}

#projects {
  background: #5b020f;
	/*background-color: #d6e2e9;*/
   /*background: #200122; */ /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #6f0000, #200122);*/  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #6f0000, #200122);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-dark1 {
	background-color: #000000;
}

.fixed-top {
    transition: all 0.5s;
}

.red1 {
    color: #EA1C2C;
    text-align: center;
}

h1 {
    color: white;
}

.ch1 {
  color: black;
}

#skills {
    background: #BBD2C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #EA1C2C;
}

.dc {
    /*position: relative;*/
    height: 1000px;
    min-height: 500px;
    width: 100%;
    background: black url(./imgs/bg-4.jpg) top no-repeat;
    background-position: 25% 0%;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.card-body {
  background-color: #f0efeb;
  color: #000;
}

.card {
  border: none;
}

#education {
  background-color: #d9d8e1;
}

#contact {
    background: #191919;
    padding-top: 60px;
    padding-bottom: 25px;
    color: #636363;
}

hr.hr-text2 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

ul.row{
  justify-content: center;
  padding: 0;
}

div.row {
  justify-content: center;
}

.btn-red {
  background-color: #EA1C2C;
  border-color: #EA1C2C;
  color: white;
}

.btn-red:hover {
    color: black;
}

ul {
  list-style-type: none;
}

i.cn {
  padding: 10px;
}

.scroll {
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #525252;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #fff;
    font-size: 21px;
    line-height: 60px;
    border-radius: 100%;
}

.scroll:hover {
  background-color: #495057;
}

.fa-arrow-circle-up:before {
    padding: 19px;
}

.iconimage {
  padding-top: 13px;
}


/*buzz out*/

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}